/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* General */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: hsl(220, 100%, 70%);
}

.container {
    width: 70%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1200px;
}

.card {
    min-height: 65vh;
    width: 100%;
    max-width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    transform-style: preserve-3d;

    background: hsl(240, 100%, 82%);
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

.sneaker img {
    width: 20rem;
    z-index: 2;
    transition: all .5s ease;
    pointer-events: none;
}

.circle {
    width: 15rem;
    height: 15rem;

    position: absolute;
    border-radius: 50%;
    z-index: 1;

    background: linear-gradient(to right,
            rgba(245, 70, 66, 0.75),
            rgba(8, 83, 156, 0.75));

    transition: all .5s ease;
}

.info {
    transition: all 1s ease;
    transform-style: preserve-3d;
}

.title {
    transform-style: preserve-3d;
    pointer-events: none;
}

.title h1 {
    transition: all 1s ease;
    font-size: 3rem;
}

.description {
    pointer-events: none;
    transform-style: preserve-3d;
}

.description h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: hsl(0, 0%, 35%);
    font-weight: 400;
    text-transform: uppercase;
    transition: all 1s ease;
}

.sizes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    transition: all 1s ease;
}

.sizes button {
    padding: .75rem 2rem;
    margin: .5rem;

    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}

.sizes button:not(.active):hover {
    background: hsl(0, 0%, 85%);
}

button.active {
    background: hsl(0, 0%, 45%);
    color: hsl(0, 0%, 100%);
}

.purchase {
    margin: 4.5rem 0;
    transition: all 1s ease;
}

.purchase button {
    width: 100%;
    padding: 1rem 0rem;

    background: hsl(1, 90%, 60%, .9);
    color: hsl(0, 0%, 100%, 1);

    border: 2px solid hsla(1, 90%, 60%, 0.902);
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    transition: all .3s linear;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.purchase button:hover {
    background: transparent;
    color: hsl(0, 0%, 95%);
}

@keyframes rotate {
    0% {
        rotateY: 0;
    }

    100% {
        rotate: 360deg;
    }
}

@media (max-width: 840px) {
    .title h1 {
        font-size: 2.25rem;
    }

    .description h3 {
        font-size: 1rem;
    }

    .circle {
        width: 10rem;
        height: 10rem;
    }

    .sneaker img {
        width: 15rem;
    }
}